.container{
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}
.card{
  margin: 40px 0;
}
/*Chuc nang zoom hinh*/
.zoom {
    transition: transform .2s; /* Animation */
}
  
.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.gallery-wrap .img-big-wrap img {
    height: 400px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}
/*Phan css chi tiet gia*/
.price-detail-wrap{
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid #eee;
  padding: 5px 0 15px;
  overflow: hidden;
}
.title{
  font-size: 1rem;
  line-height: 1;
  color: #555;
  width: 20px;
  float: left;
  margin: 0;
  white-space: nowrap;
}
.price{
  font-weight: 600;
  color: #b32605;
  font-size: 1.5rem;
  line-height: 12px;
  padding-top: 11px;
  float: left;
}
.price-detail-wrap .price{
  margin-left: 85px;
  display: block;
}
.price-detail-wrap .title{
  padding-top: 10px;
}
.sub-title-product{
  font-size: 0.8rem;
  margin-bottom: 15px;
}
#availability{
  margin-top: 15px;
}
.stock{
  color:#327435
}
#availability div{
  font-size: 1.6em;
  font-weight: 600;
}
.btn.btn-md{
  font-size: 11.5px;
  padding: 12px 20px 11px 20px;
  line-height: 1.1;
}
.btn-light{
  color: #4f4f4f !important;
  background-color: #f2f2f2 !important;
} 
.btn{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2),0 2px 10px 0 rgba(0,0,0,0.05);
}
/*nav mo ta*/
.classic-tabs .nav.tabs-primary li a.active{
  color: #1266f1 !important;
  border-color: #1266f1;
}
.classic-tabs .nav.tabs-primary li a{
  color:#6c757d;
  font-weight: 500;
}
.nav-item{
  border-bottom: 1px solid #dee2e6;
}
.classic-tabs .nav li a.active{
  border-bottom: 3px solid;
}
.classic-tabs .nav.tabs-primary{
  background-color: #fff !important;
}
.classic-tabs .nav{
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  border-radius: .3rem .3rem 0 0;
}
.classic-tabs .tab-content{
  padding: 1.5rem 0;
}
.rating li{
  display: inline-block;
}
.rating{
  padding: 0;
  color: #ffa000;
  list-style-type: none;
}
.text-rating{
  color: #ffa000;
}