@using Doan.Models
@model List<Sanpham>
@{
    ViewBag.Title = "Index";
}

<div class="base-slider owl-carousel owl-theme">
    <div class="item">
        <img src="~/assets/images/dog4re.jpg" alt="slider">

    </div><!--item-->
    <div class="item slide-two">
        <img src="~/assets/images/dog3re.jpg" alt="slider">

    </div><!--item-->
    <div class="item slide-three">
        <img src="~/assets/images/dog5re.jpg" alt="slider">

    </div><!--item-->
</div>
    <div class="grid-product">
        <div class="title-head">
            <h2 class="text-black">Sản phẩm đang bán</h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="product">
                        <div class="images">
                            <a href="/Sanpham/SPdetail/@item.IDsanpham"><img src="@item.AnhSP" alt="product"></a>
                            <div class="button-group">
                                <a href="/Sanpham/SPdetail/@item.IDsanpham" class="custom-btn pink"><i class="fa fa-search"></i></a>
                            </div><!--button-group-->
                        </div><!--images-->
                        <div class="info-product">
                            <a href="/Sanpham/SPdetail/@item.IDsanpham" class="title">@item.TenSP</a>
                            <span class="price" style="margin-top:30px">
                                <ins><br />@String.Format("{0:0,0}", item.GiaSP) VND</ins>
                            </span>
                        </div><!--info-product-->
                    </div><!--product-->
                </div>
            }
            </div>
        </div><!--grid-product-->
<!--=============== End of Grid Product ===================-->
