
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="margin-bottom:50px">Chi tiết giỏ hàng</h2>
<h3 style="text-align:center;margin:100px 0px">Không có sản phẩm nào trong giỏ hàng</h3>

