<li class="cart">
    <a href="@Url.Action("Giohang","Giohang")"><i class="fa fa-shopping-bag"></i>Bag (@ViewBag.Tongsoluong)</a>
    <div class="cart-modal">
        <div class="button">
            <a href="@Url.Action("Giohang","Giohang")" class="custom-btn">Xem Giỏ Hàng</a>
            <a href="@Url.Action("Dathang","Giohang")" class="custom-btn pink">Thanh Toán</a>
        </div>
    </div><!--cart-modal-->
</li>
