
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="checkout-modal" id="checkout-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="margin: 200px auto">
        <div class="modal-content">
            <h3>Cảm ơn quý khách</h3>
            <p>Đơn hàng của quý khách đã được chúng tôi ghi nhận</p>
            <a href="/Home/Index"><button type="button" class="btn" data-dismiss="modal"><img src="~/assets/images/close.png" alt="close"></button></a>
        </div>
    </div>
</div>

